DATABASE_URL="sqlserver://SERVIDOR:PUERTO;database=NOMBRE_BASE;user=USUARIO;password=CONTRASENA;encrypt=true;trustServerCertificate=true"
DB_SERVER="SERVIDOR_O_IP"
DB_PORT="PUERTO_TCP"
DB_DATABASE="NOMBRE_BASE"
DB_USER="USUARIO_SQL"
DB_PASSWORD="CONTRASENA_SQL"
DB_ENCRYPT="true"
DB_TRUST_SERVER_CERTIFICATE="true"
DB_TLS_SERVER_NAME=""
PORT=3000
BIOMETRIC_ENCRYPTION_KEY=""
BIOMETRIC_MATCH_THRESHOLD="21474"
BIOMETRIC_MATCHER_PATH=""
AUTH_JWT_SECRET="GENERA_UN_SECRETO_ALEATORIO_DE_AL_MENOS_32_CARACTERES"
WEB_ORIGIN="http://localhost:5173"
MEAL_ORDER_CUTOFF_TIME="08:00"
